@media screen and (max-width: 480px) {
   .imagenlogo{
      width: 200px;
      height: 200px;
      border-radius: 20px
   }   
}
@media screen and (min-width: 480px) and (max-width: 780px) {
   .imagenlogo{
      width: 200px;
      height: 200px;
      border-radius: 20px
   }   
}
@media screen and (min-width: 780px) and (max-width: 900px) {
   .imagenlogo{
      width: 300px;
      height: 300px;
      border-radius: 20px
   }   
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
   .imagenlogo{
      width: 400px;
      height: 400px;
      border-radius: 20px
   }   
}
@media screen and (min-width: 1200px) {
   .imagenlogo{
      width: 400px;
      height: 400px;
      border-radius: 20px
   }   
}
.informacionEmpresa{
   background-color: rgba(143, 0, 0, 0.71);
   border-radius: 10px
}
.informacionEmpresa:hover{
    background-color: rgba(143, 0, 0, 0.90);
}
.nombreEmp{
   text-shadow: 5px 5px 10px #000000;
   color: #FDFCFA;
   
}
.fotoInt{
   box-shadow: 5px 5px 10px #000000;
}
.fila{
   background-color: lightgrey;
   box-shadow: 2px 2px 10px #FDFCFA;
   border-radius: 10px
}

.showbox { 
   float: left;
   width: 50px;
   height: 50px;
   background-color: #fff;
   line-height: 60px;
   text-align: center;
   -webkit-transition: 1s ease-in-out;
   -moz-transition: 1s ease-in-out;
   -o-transition: 1s ease-in-out;
   transition: 1s ease-in-out;
} 
.showbox.slideright:hover {
   width: 60px;
   height: 60px;
   -webkit-transform: translate(8em,0);
   -moz-transform: translate(8em,0);
   -o-transform: translate(8em,0);
   -ms-transform: translate(8em,0);
   transform: translate(8em,0); 
}

.nombreEmpresa{
   color: #2c4466;
   text-shadow: 2px 2px 8px #1f1f1f;
}
.nombreEmpresa.movimiento:hover{
   color:#d8450b;
   text-shadow: 2px 2px 8px #1f1f1f; 
}
.nombreEmp:hover{
    color: #faf2cc;
}
.nombreInt{
   text-shadow: 2px 2px 8px #fff;
}
.carouselogo{
   margin: 0px;
   padding: 0px;
}
.titulo{
   background-color: #2c4466;
   color: white;
   height: 20%;
}
.subtitulo{
   background-color: #4970a7;
   color: white;
   height: 10%;
}
.panelaso{
   
}
.chatsend{
    border: 0px;
    box-shadow: #4EA7FF 2px 2px 10px;
    background: rgb(222,239,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(222,239,255,1) 0%, rgba(152,190,222,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,rgba(152,190,222,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */

}
.chatreceive{
    border: 0px;
    box-shadow: #000000 2px 2px 10px;
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

}
.foro{
   border: 0px;
   background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.foro:hover{
   border: 0px;
   background: rgb(247,251,252); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(247,251,252,1) 0%, rgba(217,237,242,1) 40%, rgba(173,217,228,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,251,252,1)), color-stop(40%,rgba(217,237,242,1)), color-stop(100%,rgba(173,217,228,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#add9e4',GradientType=0 ); /* IE6-9 */

}






.footer-container {
	width:100%;
	background:#333;
	clear: both;
 	position: relative;
 	z-index: 10;
}
.footer-row { margin-top: 30px;}
.footer-col {color:#ababab; font-size: 11px;}
.footer-col a {color:#dcdcdc; font-weight: bold;}
.footer-col a:hover {color:#d8450b; text-decoration: none;}
.footer-col h5, .footer-col strong {color:#f9f9f9; text-shadow:none;}
.footer-col h5 {margin-bottom: 25px;}
.footer-col ul {margin: 0px;}
.footer-col ul li {list-style: none; padding-bottom: 20px;}
.footer-col ul.post-list li {
	border-bottom: 1px dashed #504f4f;
	padding: 10px 0px;
}
/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	.footer-col {
		clear:both;
		overflow: auto;
		margin-bottom: 20px;
	}
	.footer-sub .right {display: none;}
}
ul.img-feed li {
	float: left; 
	margin: 0px 7px 7px 0px; 
	padding-bottom: 0px;
}

/* Portrait tablet */
@media (min-width: 768px) and (max-width: 979px) {
	ul.img-feed li:nth-last-child(-n+4) {display: none;}
}

/**** Social Icons ****/
.social-icons {padding-top: 10px;}
.social-icons li {
	list-style: none; 
	float: left;
	margin-right: 6px;
}
/* Small Monitor */
@media (min-width: 980px) and (max-width: 1199px) {
	.social-icons li:last-child {display:none;}
}
a.social-icon { 
	background: url(../img/social-icons.png);
	display: block; 
	width: 46px; 
	height: 46px;
}
a.facebook {background-position: 0px 0px;}
a.facebook:hover {background-position: 0px -47px;}
a.twitter{background-position: -52px 0px;}
a.twitter:hover {background-position: -52px -47px;}
a.dribble{background-position: -104px 0px;}
a.dribble:hover {background-position: -104px -47px;}
a.rss{background-position: -156px 0px;}
a.rss:hover {background-position: -156px -47px;}
a.forrst{background-position: -208px 0px;}
a.forrst:hover {background-position: -208px -47px;}

/**** Sub Footer ****/
.footer-sub {background: #1f1f1f; padding: 10px 0px;}
.footer-sub div div span {padding: 0px 20px;}


/**************************************
/ MISC
**************************************/
.row {margin-bottom:40px;}
.sub-row30 {margin-bottom:30px;}
.sub-row20 {margin-bottom:20px;}
.no-margin {margin-bottom:0px;}

a.accordion-toggle{background: #f5f5f5;}
.nav-tabs li.active a{background:#f8f8f8;}

@media only screen and  (max-width: 767px) {
	.btn {margin-bottom: 20px;}
}

.left {float: left;}
.right {float: right;}
.align-left{float: left; margin: 0px 20px 20px 0px;}
.align-right{float: right; margin: 0px 0px 20px 20px;}

.color-bg { background:#d8450b; }
.color { color:#d8450b; }
.color-bar-1, .color-bar-2 { width:100% }
.color-bar-1 { background:#414141; height:5px; }
.color-bar-2 { height:3px; }
.page-header { margin:0px }
.lead {line-height:28px; margin: 20px 0px 30px 0px; }

#toTop {
	width:47px;
	height:47px;
	background:url(../img/back-top-btn.png) no-repeat;
	text-align:center;
	position:fixed;
	bottom:25px;
	right:20px;
	cursor:pointer;
	display:none;
	text-indent:-9999px;
	z-index:12; 
}

/***** Lightbox *****/
#lightbox-image-details-caption {
	font-family: "Oswald", sans-serif; 
	font-weight: normal;
	text-transform:uppercase;
	font-size: 14px;
}
#lightbox-secNav-btnClose {width: 30px; padding-bottom: 0;}
#lightbox-image-details-currentNumber {display: none; visibility: hidden;}

/***** Testimonials *****/
.quote-text { 
	font-size:16px; 
	line-height:24px; 
	font-family:Georgia, "Times New Roman", Times, serif; 
	font-style:italic;
	margin:0px 20px; }
.quote-text cite { 
	font-size:12px; 
	color:#999;
	display:block;
	margin-top:5px; }

#clientCarousel.carousel .item {
	background: #f9f9f9;
	padding:20px 0px;
    -webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
    left: 0 !important;
  }
#clientCarousel.carousel .next.left, .carousel .prev.right {
    opacity: 1;
    z-index: 1;
  }
#clientCarousel.carousel .active.left, .carousel .active.right {
    opacity: 0;
    z-index: 2;
  }

/***** Client Logos *****/
.client-link { 
	display: block; 
	width: 100px; 
	height: 100px;
	position: relative;
}
.client-mask {
	display: block;
	width: 100px; 
	height: 100px;
	position: absolute;
	background: url(../img/rnd-client-mask.png);
}
.client-logos {margin: 20px 0px 0px 0px;}
.client-logos li {list-style: none; float: left; margin: 0px 7px;}

/* Small Monitor */
@media (min-width: 980px) and (max-width: 1199px) {
	.client-logos li:first-child {display: none;}
}
/* Portrait tablet */
@media (min-width: 768px) and (max-width: 979px) {
	.client-logos li:nth-last-child(-n+2) {display: none;}
}

/***** Features Page (these can be deleted)*****/
.the-grid div {
	background: #e4e4e4; 
	padding:10px 0px; 
	text-align: center;
}
.form-examples input { margin-bottom: 10px;}
.the-icons {list-style: none; margin-left: 0;}
.the-icons li {float: left; width: 25%; line-height: 25px;}

/* Mobile Portrait Size to Tablet Portrait Size */
@media only screen and  (max-width: 767px) {
	.the-icons li {float: none; width: 100%; line-height: 25px;}	
}
